<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/styles/main.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/partials/page-success.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    <script src="/scripts/redirect.js" defer></script>

    <title>Cadastrado com sucesso!</title>
</head>
<body>
    <div id="container">
        <img src="/images/icons/success-check-icon.svg" alt="Cadastrado"/>

        <h1>
            Cadastro salvo!
        </h1>
        <p>
            Tudo certo, seu cadastro está na lista de professores.
            Agora é so ficar de olho no seu Whatsapp.
        </p>
    </div>
    
</body>
</html>